#test1 {
  font-family: 'Archistico';
  color: rgba(0,0,0,.85);
  font-size: 20vw;
  position: relative;
  left: 2vw;
  top: -4vw;
}

#test2 {
  font-family: 'Archistico';
  color: rgba(0,0,0,.85);
  font-size: 4.5vw;
  font-weight: bold;
  position: relative;
  left: 18.5vw;
  top: -10vw;
}

.section{
  color: white;
}

.sectiontitle{
  font-family: 'josefin_slabregular';
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

#wedding_name {
  font-family: 'Archistico';
  font-size: 3.6vw;
  color: rgba(255,255,255,0.95);
}

@media all and (max-width: 450px){
  #wedding_name {
    font-family: 'Archistico';
    font-size: 16px;
    color: rgba(255,255,255,0.95);
  }
}

@media all and (min-width: 1400px){
  #wedding_name {
    font-family: 'Archistico';
    font-size: 250%;
    color: rgba(255,255,255,0.95);
  }
}

.navbar.transparent {
   background: rgba(0,0,0,0.60);
}

.navbar-brand {
  color: rgba(255,255,255,0.95);
  font-weight: 500;
}

.navbar-myitem {
  color: rgba(255,255,255,0.95);
  font-family: 'josefin_slabregular';
  font-weight: 125;
  font-size: 1.5vw
}

@media all and (max-width: 800px){
  .navbar-myitem {
    color: rgba(255,255,255,0.95);
    font-family: 'josefin_slabregular';
    font-weight: 125;
    font-size: 14px;
  }
}

.icon-bar {
  background-color: rgba(255,255,255,0.95);
}

.top-buffer {
  margin-top: 7.5vw;
}

.partyimages {
  -webkit-mask-image: radial-gradient(50% 50%, black 65%, transparent 100%);
}

.guest-bio {
  display: none;
}

body {
  background: url(../img/background.jpg) no-repeat center top;
  background-color: rgb(0,0,0);
  background-size: 100% auto;
  overflow-x: hidden;
  max-width: 100%;
}

/*fixed side scroll problem*/
html{
  overflow-x: hidden;
  max-width: 100%;
}


@font-face {
    font-family: 'josefin_slabregular';
    src: url('../fonts/josefinslab-regular-webfont.eot');
    src: url('../fonts/josefinslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinslab-regular-webfont.woff2') format('woff2'),
         url('../fonts/josefinslab-regular-webfont.woff') format('woff'),
         url('../fonts/josefinslab-regular-webfont.ttf') format('truetype'),
         url('../fonts/josefinslab-regular-webfont.svg#josefin_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


p, h2 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin: 0 0 15px 15px;


}


@font-face {
    font-family: 'gentium_basicregular';
    src: url('../fonts/genbasr-webfont.eot');
    src: url('../fonts/genbasr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/genbasr-webfont.woff2') format('woff2'),
         url('../fonts/genbasr-webfont.woff') format('woff'),
         url('../fonts/genbasr-webfont.ttf') format('truetype'),
         url('../fonts/genbasr-webfont.svg#gentium_basicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand-light-webfont.eot');
    src: url('../fonts/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-light-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-light-webfont.woff') format('woff'),
         url('../fonts/quicksand-light-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

